<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IGSMDesktopIce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <IGSMDesktopIce.Properties.Settings>
      <setting name="IP_LOCAL" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DRIVE_INPUT" serializeAs="String">
        <value>/WebDebug/iginput/</value>
      </setting>
      <setting name="DRIVE_OUTPUT" serializeAs="String">
        <value>/WebDebug/igoutput127.0.0.1/</value>
      </setting>
      <setting name="DRIVE_SHARED" serializeAs="String">
        <value/>
      </setting>
      <setting name="DRIVE_APPLI" serializeAs="String">
        <value>C:</value>
      </setting>
      <setting name="USER_NAME" serializeAs="String">
        <value></value>
      </setting>
      <setting name="USER_DOMAIN" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SERVERMGR_PORT_INPUT" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SERVERMGR_NBSERVERS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SERVERMGR_IPSHARE" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="SERVERMGR_IPWEBSERVER" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="USER_PASSWORD" serializeAs="String">
        <value />
      </setting>
      <setting name="DO_MOUNT" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="SDK_PATH" serializeAs="String">
        <value>D:\Shared\Sources\Imagenius\OpenSource\ImageniusSDK</value>
      </setting>     
    </IGSMDesktopIce.Properties.Settings>
  </applicationSettings>
</configuration>